In [1]:
import pandas as pd

In [2]:
import numpy as np

In [ ]:
# un dataframe es como una tabla en una hoja de excel. tiene columnas y filas.
# ojo--> luego tenemos pandas series que es como una dataframe de una sola dimensión

# 1) Diccionario de listas (columna por columna)

In [3]:
football_dict= {
    "player": ["Lionel Messi", "Cristiano Ronaldo"],
    "year": [2016, 2016],
    "goals": [37, 25]
}

In [4]:
football_stats= pd.DataFrame(football_dict)

In [5]:
football_stats

              player  year  goals
0       Lionel Messi  2016     37
1  Cristiano Ronaldo  2016     25

In [8]:
football_stats.to_csv('football_mini_stats.csv')# lo paso a csv

In [10]:
df= pd.read_csv('football_mini_stats.csv')# lo leo en csv

In [11]:
df

   Unnamed: 0             player  year  goals
0           0       Lionel Messi  2016     37
1           1  Cristiano Ronaldo  2016     25

In [12]:
# quiero que mi índice sea el nombre de los jugadores

df= pd.read_csv('football_mini_stats.csv', index_col='player')

In [13]:
df

                   Unnamed: 0  year  goals
player
Lionel Messi                0  2016     37
Cristiano Ronaldo           1  2016     25

# Inspeccionar un DataFrame

In [18]:
df= pd.read_csv('football_stats.csv', index_col='player_id')

In [19]:
df

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
8865,Ollie Watkins,2020,9,6,5,22,1,0,0,F,Aston Villa,810
675,Jack Grealish,2020,9,5,5,26,5,2,0,F M,Aston Villa,810
592,Ross Barkley,2020,6,2,2,17,1,0,0,M,Aston Villa,454
1024,Tyrone Mings,2020,9,2,2,7,1,2,0,D,Aston Villa,810
7726,Ezri Konsa Ngoyo,2020,9,2,2,7,0,0,0,D,Aston Villa,810
...,...,...,...,...,...,...,...,...,...,...,...,...
4267,Florian Hartherz,2014,10,0,0,1,2,1,1,D S,Paderborn,775
4268,Christian Strohdiek,2014,22,0,0,6,0,2,0,D S,Paderborn,1608
4311,Idir Ouali,2014,6,0,0,4,0,1,0,M S,Paderborn,296
4334,Mirnes Pepic,2014,2,0,0,0,0,0,0,S,Paderborn,20
4363,Thomas Bertels,2014,1,0,0,0,0,0,0,S,Paderborn,3

In [21]:
df.sample(3) # aleatorio

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
1220,Christian Puggioni,2017,14,0,0,0,0,0,1,GK,Benevento,1176
1114,Davide Biraschi,2016,7,0,0,3,0,2,0,D S,Genoa,391
6678,Justin Hoogma,2018,2,0,0,0,0,0,0,D S,Hoffenheim,103

In [23]:
df.shape # filas y columnas que tiene el dataframe

(18633, 12)

In [24]:
df.size # total de datos del dataframe

223596

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18633 entries, 8865 to 4363
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   18633 non-null  object
 1   year          18633 non-null  int64
 2   games         18633 non-null  int64
 3   goals         18633 non-null  int64
 4   npg           18633 non-null  int64
 5   shots         18633 non-null  int64
 6   assists       18633 non-null  int64
 7   yellow_cards  18633 non-null  int64
 8   red_cards     18633 non-null  int64
 9   position      18633 non-null  object
 10  team_name     18633 non-null  object
 11  time          18633 non-null  int64
dtypes: int64(9), object(3)
memory usage: 1.8+ MB

In [26]:
df.describe()

,year,games,goals,npg,shots,assists,yellow_cards,red_cards,time
count,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000,18633.000000
mean,2016.937691,17.072291,1.624054,1.478399,15.323888,1.138088,2.453979,0.127569,1207.483282
std,1.976606,11.375527,3.252418,2.891849,20.934645,1.936238,2.685745,0.370656,975.753086
min,2014.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2015.000000,7.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,326.000000
50%,2017.000000,16.000000,0.000000,0.000000,8.000000,0.000000,2.000000,0.000000,976.000000
75%,2019.000000,27.000000,2.000000,2.000000,21.000000,2.000000,4.000000,0.000000,2004.000000
max,2020.000000,38.000000,48.000000,38.000000,227.000000,20.000000,17.000000,5.000000,3420.000000

# Ordenar los datos

In [28]:
# con sort.values() con 2 parámetros: by y ascending. el primero es por la columna que quieres ordenar y el segundo asc o desc

df.sort_values('player_name', ascending=False)

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
250,Ørjan Nyland,2015,6,0,0,0,0,0,0,GK,Ingolstadt,540
250,Ørjan Nyland,2016,12,0,0,0,0,0,0,GK S,Ingolstadt,1021
250,Ørjan Nyland,2019,7,0,0,0,0,0,0,GK S,Aston Villa,536
2646,Özkan Yildirim,2014,1,0,0,0,0,0,0,M,Werder Bremen,60
2646,Özkan Yildirim,2015,1,0,0,1,0,0,0,S,Werder Bremen,13
...,...,...,...,...,...,...,...,...,...,...,...,...
534,Aaron Cresswell,2018,20,0,0,11,1,1,0,D S,West Ham,1586
534,Aaron Cresswell,2020,11,0,0,4,3,0,0,D,West Ham,990
534,Aaron Cresswell,2019,31,3,3,18,0,7,0,D,West Ham,2739
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425

In [29]:
df.sort_values(['team_name', 'goals'], ascending=[True, False]).head(3)

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
1125,Carlos Bacca,2015,38,18,16,77,2,2,0,F S,AC Milan,3179
2014,Jérémy Menez,2014,33,16,8,78,4,3,1,F M S,AC Milan,2713
1125,Carlos Bacca,2016,32,13,9,56,3,3,0,F S,AC Milan,2152

# Subconjuntos y filtros de datos

In [30]:
df['team_name'].unique()

array(['Aston Villa', 'Everton', 'Southampton', 'Leicester',
       'West Bromwich Albion', 'Crystal Palace', 'Chelsea', 'West Ham',
       'Tottenham', 'Arsenal', 'Newcastle United', 'Liverpool',
       'Manchester City', 'Manchester United', 'Burnley', 'Brighton',
       'Fulham', 'Wolverhampton Wanderers', 'Sheffield United', 'Leeds',
       'Sevilla', 'Real Sociedad', 'Getafe', 'Atletico Madrid',
       'Valencia', 'Athletic Club', 'Barcelona', 'Real Madrid', 'Levante',
       'Celta Vigo', 'Real Betis', 'Villarreal', 'Granada', 'Eibar',
       'Osasuna', 'Alaves', 'Elche', 'Real Valladolid', 'SD Huesca',
       'Cadiz', 'Verona', 'Roma', 'Lazio', 'Bologna', 'Juventus',
       'Udinese', 'Genoa', 'Sampdoria', 'Sassuolo', 'Napoli', 'Inter',
       'Atalanta', 'Fiorentina', 'AC Milan', 'Torino', 'Crotone',
       'Cagliari', 'Benevento', 'Parma Calcio 1913', 'Spezia', 'Lille',
       'Paris Saint Germain', 'Rennes', 'Marseille', 'Montpellier',
       'Angers', 'Nantes', 'Nice', 'Monaco', 'Saint-Etienne', 'Bordeaux',
       'Reims', 'Lyon', 'Lorient', 'Metz', 'Dijon', 'Lens', 'Strasbourg',
       'Nimes', 'Brest', 'Bayern Munich', 'Bayer Leverkusen',
       'Hoffenheim', 'Augsburg', 'Hertha Berlin', 'Werder Bremen',
       'Schalke 04', 'Mainz 05', 'Borussia Dortmund',
       'Borussia M.Gladbach', 'Wolfsburg', 'Eintracht Frankfurt',
       'VfB Stuttgart', 'FC Cologne', 'Freiburg',
       'RasenBallsport Leipzig', 'Union Berlin', 'Arminia Bielefeld',
       'Bournemouth', 'Norwich', 'Watford', 'Espanyol', 'Leganes',
       'Mallorca', 'SPAL 2013', 'Brescia', 'Lecce', 'Toulouse', 'Amiens',
       'Paderborn', 'Fortuna Duesseldorf', 'Huddersfield', 'Cardiff',
       'Rayo Vallecano', 'Girona', 'Empoli', 'Chievo', 'Frosinone',
       'Caen', 'Guingamp', 'Hannover 96', 'Nuernberg', 'Swansea', 'Stoke',
       'Malaga', 'Deportivo La Coruna', 'Las Palmas', 'Troyes',
       'Hamburger SV', 'Sunderland', 'Hull', 'Middlesbrough',
       'Sporting Gijon', 'Palermo', 'Pescara', 'SC Bastia', 'Nancy',
       'Ingolstadt', 'Darmstadt', 'Carpi', 'GFC Ajaccio',
       'Queens Park Rangers', 'Cordoba', 'Almeria', 'Cesena', 'Parma',
       'Evian Thonon Gaillard'], dtype=object)

In [31]:
# filtrar por filas

df[df.player_name=='Aaron Connolly']

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279

In [32]:
df[df['player_name']=='Aaron Connolly'] # otra forma de filtrar

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279

In [33]:
df.query('player_name == "Aaron Connolly"') # por query

,player_name,year,games,goals,npg,shots,assists,yellow_cards,red_cards,position,team_name,time
player_id,,,,,,,,,,,,
7991,Aaron Connolly,2020,8,1,1,9,1,0,0,F S,Brighton,425
7991,Aaron Connolly,2019,24,3,3,36,1,0,0,F S,Brighton,1279

In [34]:
# Goles de Crsitiano Ronaldo en 2014

cr7= df[(df.player_name=='Cristiano Ronaldo') & (df.year==2014)]
cols=['player_name', 'year', 'goals']
cr7[cols]

                 player_name  year  goals
player_id
2371       Cristiano Ronaldo  2014     48

In [35]:
# Goles de Ronaldo, Messi y Suárez en 2015
players = ['Cristiano Ronaldo', 'Lionel Messi', 'Luis Suárez']
top_players = df[(df.player_name.isin(players)) & (df.year == 2015)] # están en la lista player
print(top_players[cols])

                 player_name  year  goals
player_id
2098             Luis Suárez  2015     40
2097            Lionel Messi  2015     26
2371       Cristiano Ronaldo  2015     35

# Subsetting con .loc

In [36]:
# Goles de Ronaldo, Messi y Suárez en 2015
df = df.reset_index()
df = df.set_index('player_name')
players = ['Cristiano Ronaldo', 'Lionel Messi', 'Luis Suárez']
cols = ['year', 'goals']
top_players = df.loc[players, cols]
print(top_players.query('year==2015'))

                   year  goals
player_name
Cristiano Ronaldo  2015     35
Lionel Messi       2015     26
Luis Suárez        2015     40

# Aplicar funciones a un DataFrame

In [37]:
# Máxima cantidad de goles hechas por un jugador en una temporada

max_goals = df['goals'].max()
cols = ['goals', 'year', 'team_name']
print(df[df.goals == max_goals][cols])

                   goals  year    team_name
player_name
Cristiano Ronaldo     48  2014  Real Madrid

In [38]:
# Porcentaje de disparos al arco que terminan en gol

total_shots = df['shots'].sum()
total_goals = df['goals'].sum()
print(round(total_goals / total_shots * 100, 2))

10.6

# Agrupar datos

In [39]:
# df.groupby('col_name_to_group')['col_name_to_aggregate'].mean() → agrupa los datos de la columna que está entre (paréntesis) y obtiene la media de la columna que está entre [corchetes].

# df.groupby('col_name')['col_name'].agg([min, max, sum]) → obtiene múltiples estadísticas.

# df.groupby(['col_name', 'another_col'])['col_name'].mean() → agrupa varias columnas.

# df.groupby(['col_name', 'another_col'])[['col_name', 'another_col']].mean() → obtiene la media de múltiples columnas.


# Top 10 jugadores que más goles han marcado
top_players = df.groupby('player_name')['goals'].sum() # en este caso es la suma
print(top_players.sort_values(ascending=False).head(10))

player_name
Lionel Messi                 205
Cristiano Ronaldo            194
Robert Lewandowski           174
Luis Suárez                  154
Harry Kane                   148
Pierre-Emerick Aubameyang    141
Sergio Agüero                128
Edinson Cavani               125
Ciro Immobile                119
Mohamed Salah                117
Name: goals, dtype: int64

In [40]:
# Top 5 equipos con más tarjetas rojas y amarillas

red_cards = df.groupby('team_name')[['red_cards', 'yellow_cards']].sum()
print(red_cards.sort_values('red_cards', ascending=False).head())

           red_cards  yellow_cards
team_name
AC Milan          43           513
Genoa             42           562
Valencia          39           598
Bologna           38           477
Lazio             35           576

# Crear columnas

In [41]:
# Puedes crear una columna con la notación df['col_name'] = values.

df['goals_assists'] = df.goals + df.assists # creo la columna que quiero
best_players = df.groupby('player_name')['goals_assists'].sum()
print(best_players.sort_values(ascending=False).head())

player_name
Lionel Messi          293
Cristiano Ronaldo     246
Luis Suárez           224
Robert Lewandowski    203
Harry Kane            178
Name: goals_assists, dtype: int64