In [2]:
import pandas as pd
import sqlite3

# SQL

* `to_sql`:
 * `if_exists`: `{‘fail’, ‘replace’, ‘append’}`, defecto `‘fail’`

* [Base de datos](https://www.sqlitetutorial.net/sqlite-sample-database/)

In [3]:
data_folder_in = "../datos/in/{}"
data_folder_out = "../datos/out/{}"

database = 'chinook.db'

In [4]:
cnx = sqlite3.connect(data_folder_in.format(database))

In [5]:
df = pd.read_sql_query("SELECT * FROM playlists", cnx)
df

    PlaylistId                        Name
0            1                       Music
1            2                      Movies
2            3                    TV Shows
3            4                  Audiobooks
4            5                  90’s Music
5            6                  Audiobooks
6            7                      Movies
7            8                       Music
8            9                Music Videos
9           10                    TV Shows
10          11             Brazilian Music
11          12                   Classical
12          13   Classical 101 - Deep Cuts
13          14  Classical 101 - Next Steps
14          15  Classical 101 - The Basics
15          16                      Grunge
16          17         Heavy Metal Classic
17          18                 On-The-Go 1

In [6]:
df['Name'] = df['Name'].str.lower()

In [8]:
df

    PlaylistId                        Name
0            1                       music
1            2                      movies
2            3                    tv shows
3            4                  audiobooks
4            5                  90’s music
5            6                  audiobooks
6            7                      movies
7            8                       music
8            9                music videos
9           10                    tv shows
10          11             brazilian music
11          12                   classical
12          13   classical 101 - deep cuts
13          14  classical 101 - next steps
14          15  classical 101 - the basics
15          16                      grunge
16          17         heavy metal classic
17          18                 on-the-go 1

In [10]:
df.to_sql('playlists', con=cnx, if_exists='append')

OperationalError: table playlists has no column named index

In [12]:
df.to_sql('playlists', con=cnx, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: playlists.PlaylistId

In [18]:
df['PlaylistId'] = df['PlaylistId'] + 20
df

    PlaylistId                        Name
0           81                       music
1           82                      movies
2           83                    tv shows
3           84                  audiobooks
4           85                  90’s music
5           86                  audiobooks
6           87                      movies
7           88                       music
8           89                music videos
9           90                    tv shows
10          91             brazilian music
11          92                   classical
12          93   classical 101 - deep cuts
13          94  classical 101 - next steps
14          95  classical 101 - the basics
15          96                      grunge
16          97         heavy metal classic
17          98                 on-the-go 1

In [19]:
df.to_sql('playlists', con=cnx, if_exists='append', index=False, index_label='PlaylistId')

In [21]:
df = pd.read_sql_query("SELECT * FROM playlists", cnx)
df

    PlaylistId                        Name
0            1                       Music
1            2                      Movies
2            3                    TV Shows
3            4                  Audiobooks
4            5                  90’s Music
5            6                  Audiobooks
6            7                      Movies
7            8                       Music
8            9                Music Videos
9           10                    TV Shows
10          11             Brazilian Music
11          12                   Classical
12          13   Classical 101 - Deep Cuts
13          14  Classical 101 - Next Steps
14          15  Classical 101 - The Basics
15          16                      Grunge
16          17         Heavy Metal Classic
17          18                 On-The-Go 1
18          81                       music
19          82                      movies
20          83                    tv shows
21          84                  audiobooks
22          85                  90’s music
23          86                  audiobooks
24          87                      movies
25          88                       music
26          89                music videos
27          90                    tv shows
28          91             brazilian music
29          92                   classical
30          93   classical 101 - deep cuts
31          94  classical 101 - next steps
32          95  classical 101 - the basics
33          96                      grunge
34          97         heavy metal classic
35          98                 on-the-go 1

In [24]:
df['Name'] = df['Name'].str.lower()
df

    PlaylistId                        Name
0            1                       music
1            2                      movies
2            3                    tv shows
3            4                  audiobooks
4            5                  90’s music
5            6                  audiobooks
6            7                      movies
7            8                       music
8            9                music videos
9           10                    tv shows
10          11             brazilian music
11          12                   classical
12          13   classical 101 - deep cuts
13          14  classical 101 - next steps
14          15  classical 101 - the basics
15          16                      grunge
16          17         heavy metal classic
17          18                 on-the-go 1
18          81                       music
19          82                      movies
20          83                    tv shows
21          84                  audiobooks
22          85                  90’s music
23          86                  audiobooks
24          87                      movies
25          88                       music
26          89                music videos
27          90                    tv shows
28          91             brazilian music
29          92                   classical
30          93   classical 101 - deep cuts
31          94  classical 101 - next steps
32          95  classical 101 - the basics
33          96                      grunge
34          97         heavy metal classic
35          98                 on-the-go 1

In [25]:
df.to_sql('playlists', con=cnx, if_exists='replace', index=False, index_label='PlaylistId')

In [27]:
df = pd.read_sql_query("SELECT * FROM playlists", cnx)
df

    PlaylistId                        Name
0            1                       music
1            2                      movies
2            3                    tv shows
3            4                  audiobooks
4            5                  90’s music
5            6                  audiobooks
6            7                      movies
7            8                       music
8            9                music videos
9           10                    tv shows
10          11             brazilian music
11          12                   classical
12          13   classical 101 - deep cuts
13          14  classical 101 - next steps
14          15  classical 101 - the basics
15          16                      grunge
16          17         heavy metal classic
17          18                 on-the-go 1
18          81                       music
19          82                      movies
20          83                    tv shows
21          84                  audiobooks
22          85                  90’s music
23          86                  audiobooks
24          87                      movies
25          88                       music
26          89                music videos
27          90                    tv shows
28          91             brazilian music
29          92                   classical
30          93   classical 101 - deep cuts
31          94  classical 101 - next steps
32          95  classical 101 - the basics
33          96                      grunge
34          97         heavy metal classic
35          98                 on-the-go 1

In [29]:
df = pd.read_sql_query("""
    SELECT * FROM playlists p, playlist_track pt
    WHERE p.PlaylistId = pt.PlaylistId
""", cnx)
df

      PlaylistId                 Name  PlaylistId  TrackId
0              1                music           1     3402
1              1                music           1     3389
2              1                music           1     3390
3              1                music           1     3391
4              1                music           1     3392
...          ...                  ...         ...      ...
8710          17  heavy metal classic          17     2094
8711          17  heavy metal classic          17     2095
8712          17  heavy metal classic          17     2096
8713          17  heavy metal classic          17     3290
8714          18          on-the-go 1          18      597

[8715 rows x 4 columns]

In [30]:
df.to_csv(data_folder_out.format('chinook.csv'), index=False, sep=";", decimal=",")